
*.txt
Data/financial/labelled/large/models/fin_lab_large_finetuned.pth
Data/financial/labelled/large/models/fin_lab_large_large_inferer.pth

Data/models/language_models/fin_lab_large_finetuned.pth
imdb_dataset/IMDB_Dataset_processed.csv
imdb_dataset/imdb_inferer.pth
imdb_dataset/imdb_encoder.pth
imdb_dataset/imdb_finetuned.pth
